
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
  }

nav li {
    float: right;
  }

nav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 18.2px 20px;
    text-decoration: none;
  }

nav li a:hover {
    background-color: #111;
    color: white;
  }

nav li {
    border-left: 1px solid #222;
  }

nav li:last-child {
    border-left: none;
  }



body {
    background-image: url("../img/pattern.jpg");
}

section {
    padding: 16px 16px;
    width: 80%;
    margin-top: 85px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white ;
}

h1 {
    text-align: center;
}

section a {
    text-decoration: none;
}


footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1px 1px;
    margin: 0;
    width: 100%;
}

#form-pesan-param {
    font-weight: bold;
    width: 30%;
}

p#backtoidx {
  text-align: right;
}
