.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-border {
  border-style: solid;
  border-width: thin;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.col-row {
  margin-left: 10px;
  margin-right: 10px;
}

.col-40 {
  vertical-align: text-bottom;
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.col-50 {
  margin-left: auto;
  margin-right: auto;
  float: center;
  width: 50%;
  margin-top: 6px;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

input[type=submit] {
  margin-top: 20px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.item-checkbox {
  margin-top: 88px;
}
